@import '../../assets/css/index.scss';

.compose {
	position: fixed;
	bottom: 0;
	right: 15px;
	height: 533px;
	width: 568px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	display: grid;
	grid-template-rows: auto 1fr auto;
	overflow: hidden;
	border-radius: 8px 8px 0 0;

	.top-details {
		background-color: $background-color;
		padding: 10px 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.top-title {
			font-size: 14px;
			font-weight: bold;
			color: $text-color-bold;
		}

		img {
			height: 15px;
			width: 15px;
			cursor: pointer;
		}
	}

	form {
		background-color: blue;
	}

	.options {
		background-color: yellow;
	}
}
