@import '../../assets/css/index.scss';

.navbar-container {
	display: grid;
	grid-auto-flow: column;
	justify-content: start;
	gap: 20px;

	a {
		font-weight: 600;
		transition: all 0.3s ease;

		&:hover,
		&.active {
			color: $text-color-active;
		}
	}
}
