@import "./colors.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $text-color;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 18px;
}

a {
  text-decoration: none;
}

*::-webkit-scrollbar {
	display: initial;
	width: 5px;
	height: 4px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: gray;
	border-radius: 20px;
	border: transparent;
}
