$background-color: #f6f8fc;
$background-color-input: #eaf1fb;
$background-color-white: #ffffff;
$background-color-readMail: #f2f6fc;
$background-color-primary: #c2e7ff;
$background-color-hover: #eeeeee;
$background-color-active-folder: #d3e3fd;
$background-color-btn: #0b57d0;
$background-color-unfocused: #75787d;

$text-color: #7a7c7f;
$text-color-active: #001d35;
$text-color-bold: #202124;

$danger-color: #e77e71;

$line-color: #ededed;

$box-shadow: #00000029;
