$background-color: #f6f8fc;
$background-color-input: #eaf1fb;
$background-color-white: #ffffff;
$background-color-readMail: #f2f6fc;

$text-color: #7a7c7f;
$text-color-active: #001d35;
$text-color-bold: #202124;

$line-color: #e8e7e7;

$box-shadow:#00000029;
