@import '../../assets/css/index.scss';

.email-index {
	display: grid;
	grid-template-columns: 256px 1fr;
	grid-template-rows: $email-filter 1fr;
	grid-template-areas: 'af tf' 'af m';

	.top-filter {
		grid-area: tf;
	}

	.aside-filter {
		grid-area: af;
	}

	.main {
		grid-area: m;
	}
}
