@import '../../assets/css/index.scss';

.email-preview {
	display: flex;
	align-items: center;
	padding: 8px 24px 8px 12px;
	font-size: 15px;
	border-bottom: 1px solid $line-color;
	cursor: pointer;

	&[data-is-read='true'] {
		background-color: $background-color-readMail;

		.emails-preview-details div {
			font-weight: initial;
		}
	}

	&:hover {
		box-shadow: $box-shadow 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
	}

	img {
		cursor: pointer;
		height: 20px;
		width: 20px;
	}

	.emails-preview-details {
		width: 100%;
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: 1fr 1fr 1fr auto;
		margin-left: 15px;

		div {
			font-weight: bold;
			color: $text-color-bold;
		}

		.email-options {
			display: none;
			grid-auto-flow: column;
			align-items: center;
			gap: 15px;
		}

		&:hover {
			.email-options {
				display: grid;
			}

			.date {
				display: none;
			}
		}

		.subject {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		.body {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
}
