@import '../../assets/css/index.scss';

.email-preview {
	display: flex;
	align-items: center;
	padding: 8px 24px 8px 16px;
	font-size: 15px;
	border-bottom: 1px solid $line-color;
	cursor: pointer;

	&[data-is-read='true'] {
		background-color: $background-color-readMail;

		.emails-preview-details {
			div {
				font-weight: initial;
			}
		}
	}

	input[type='checkbox'] {
		margin-right: 15px;
	}

	.emails-preview-details {
		.draft {
			color: $danger-color;
			font-weight: initial;
		}
	}

	&:hover {
		box-shadow: $box-shadow 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
	}

	.emails-preview-details {
		width: 100%;
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: auto 1fr 1fr 1fr auto;
		gap: 15px;

		img {
			cursor: pointer;
			height: 20px;
			width: 20px;
		}

		div {
			font-weight: bold;
			color: $text-color-bold;
		}

		.email-options {
			display: none;
		}

		&:hover {
			.email-options {
				grid-auto-flow: column;
				align-items: center;
				display: grid;
				gap: 15px;
			}

			.date {
				display: none;
			}
		}

		.subject {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		.body {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
}
